/* .App {
  text-align: center;
} */

.App-logo {
  width: 390.5px;
  height: 320px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.almost-black {
  color: #47525E;
}
.margin-top {
margin-top: 38px;
}

input[type=email].validate+label {
width: 0;
}

.font-ico {
  font-size: 2em;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #ffa726;
  box-shadow: none;

}
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
  color: #ffa726;
}


.margin-btn-b {
margin-bottom: 20px;
}

.margin-b {
margin-bottom: 15px;
}

.file-field .btn {
  background-color: #ffa726;
}
