/* .App {
  text-align: center;
} */

.App-logo {
  width: 419.5px;
  height: 320px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.margin-top {
margin-top: 41px;
}
